/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
/.idea/
.monkeydata.env
.monkeydata.env.backup

.monkeydata.env.backup-*
/.DS_Store

package-lock.json
_ide_helper.php
_ide_helper_models.php