.display-none {
    display: none;
}

.display-block {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: left;
}

.row {
    &{
        margin-left: 0;
        margin-right: 0;
    }
    
    &.breadcrumbs {
        padding-top: 10px;
    }
    
    &.buttons {
        padding: 0 0 10px;
    }
} 

.navbar-default .sidebar {
    margin-top: 1px;
}


.page-header {
    margin: 10px 0 10px; 
}


.nav {
    a {
        overflow: hidden;
    }
    
    li {
        &{}
        
        &.invalid {
            a {
                color: #FF0000;
            }
        }
        
    }
    
}