<table class="table table-status">
    <thead>
{*    <tr>*}

{*        <th scope="col">Count</th>*}
{*        <th scope="col">Delay</th>*}
{*        <th scope="col">On loading</th>*}
{*        <th scope="col">Import</th>*}
{*    </tr>*}
    </thead>
    <tbody>
    <tr>
        <th>Count:</th>
        <td>{$webhookData->webhookCount}</td>
    </tr>
    <tr>
        <th>Delay:</th>
        <td>{$webhookData->timediff}</td>
    </tr>
    </tbody>
</table>