<a 
    href="{$button->getUrl()}" 
    class="btn btn-outline {$button->getClass()} {$button->isDisabled()?'btn-disabled'}" 
    {if $button->targetBlank(env('APP_URL')) } target="_blank" {/if} 
    data-toggle="tooltip" 
    title="{$button->isDisabled()?$button->getError():$button->getTitle()}" 
>
    {$button->getName()}
</a>