<h4>{n $eshopType->name} ({n $eshopType->id})</h4>
<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr n:foreach="$resourceDetail as $key => $value">
                <th>{$key}</th>
                <td>{$value}</td>
            </tr>
        </tbody>
    </table>
</div>
