<tr>
    <td>url</td>
    <td>
        <span>{n $resourceDetail->url}</span>
    </td>
</tr>
<tr>
    <td>password</td>
    <td>
        <span>{\decryptWithPrivate($resourceDetail->password)}</span>
    </td>
</tr>