<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml"
    <head>
        {view $head}
    </head>
    <body>
        {view $layout}
        {view 'default.notification'}
    </body>
    {* <script src="//localhost:35729/livereload.js"></script> *}
</html>
