<style>
    .content{
        margin: 0 auto;
    }

    .table {
        margin: 0 auto;
        width: auto;
    }

    .note {
        color: #999;
        font-size: 0.8em;
    }
</style>

<div class="content">
    {view $body}
</div>