<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <a href="http://10.0.4.{$supervisorId}:9001/">
                Import {$supervisorId}
            </a>
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <iframe class="supervisor-iframe"  src="http://10.0.4.{$supervisorId}:9001/"></iframe>
    </div>
</div>