<h2>Projects on loading page</h2>
<div class="content"></div>
<script>
    function download(){
        loader(window.pageRefresh);
        $.get('{action "Open\\Monitoring\\Shoptet\\OnLoadingPageController@getData"}', function(data){
            $(".content").html(data.html);

        }).always(function() {
            window.setTimeout(function(){
                download();
            }, window.pageRefresh);
        });
    }
    download();
</script>
