<h2>Projects on loading page</h2>
<div class="content"></div>
<script>
    function download(){
        $.get('{action "Open\\Monitoring\\Shoptet\\RegistrationController@getData"}', function(data){
            $(".content").html(data);

        }).always(function() {
            window.setTimeout(function(){
                download()
            }, window.pageRefresh);
        });
    }
    download();
</script>
