<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Broken Flows</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {include '../open/importflow/table/brokenflows.latte'}
    </div>
    <div class="col-lg-6">
        {include '../open/importflow/table/errordailyhistory.latte'}
    </div>
</div>
