<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Import Flow Control Pool</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {include '../open/importflow/table/activeflows.latte'}
    </div>
</div>