<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Order alert</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        {vd($eshops)}
    </div>
</div>


<div>data url: <a href="{action 'OrderAlert\IndexController@getEshopOrderAlertData'}">{action 'OrderAlert\IndexController@getEshopOrderAlertData'}</a></div>