<div class="row" >
    <div class="col-sm-2">
        {view 'default.views.menu.topbar.logo'}
    </div>
    <div class="col-sm-6">
        {view 'default.views.menu.topbar.search'}
    </div>
    <div class="col-sm-4">
        {view 'default.views.menu.topbar.rightmenu'}
    </div>
</div>